h1 {
    color: white;
    text-align: center;
}

body {
    background-color: #ED4818;
    margin: 0; /* Remove default margin */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.sidenav {
    height: 100vh; /* Full viewport height */
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #CB3C13;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: beige;
    display: block;
}

.sidenav a:hover {
    color: black;
    background-color: #003891;
}

.sidenav a.active {
    color: black;
    background-color: #003891;
}

.content {
    margin-left: 150px;
    padding-left: 10px;
    margin-right: 10px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

img.home, img.games, img.characthers {
    max-width: 100%; /* Responsive images */
    height: auto;
    display: block;
    margin: 0 auto; /* Center align images */
}

div.home, div.about, div.games, p.characthers {
    border-width: 2px;
    border-style: solid;
    margin: 15px auto; /* Center align and remove margins for responsive layout */
    padding: 15px;
    border-color: black;
    border-radius: 20px;
    max-width: 800px; /* Limit width for readability on larger screens */
}

div.games {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center; /* Center align text */
}

a.gamelink, a.readmore {
    font-size: 30px;
    color: #003891;
    text-decoration: underline;
    padding-right: 20px;
    padding-top: 15px;
}

a:hover {
    color: #99BADD;
}
